--SCRIPT PARA SEPARAR PALAVRAS DE UMA FRASE PARA GERAR UMA TAG CLOUD (NUVEM DE PALAVRAS)
--DESENVOLVIDO POR DOUGLAS VIEIRA
--LINKEDIN.COM/IN/DOUGLAS-VIEIRA-LOURENCO/

--TABELA COM OS COMENTARIOS
DECLARE @TB_COMENTARIO_CLIENTES TABLE (COMENTARIO VARCHAR(255))

--TABELA COM AS PALAVRAS SEPADAS ORIUNDAS DOS COMENTARIOS 
DECLARE @TABELA_TAG_CLOUD TABLE (PALAVRA VARCHAR(50))

--POPULANDO TABELA COM FRASES
INSERT INTO @TB_COMENTARIO_CLIENTES (COMENTARIO) VALUES 
('A PREOCUPAÇÃO, CLAREZA E CARINHO EXPOSTO, EU REALMENTE SENTI UM DIFERENCIAL'), --11
('UM EXCELENTE ATENDIMENTO, EDUCAÇÃO, PROFICIONALISMO DA ATENDENTE'), --7
('AGILIDADE NO ATENDIMENTO....E  EDUCAÇAO DO ATENDENTE.'), --6
('ESPERO QUE NUNCA MUDE O PADRÃO DE ATENDIMENTO. SEMPRE MUITO RÁPIDO E ESCLARECEDOR.'), --13
('BOM ATENDIMENTO, RESPONDENDO CLARAMENTE AS PERGUNTAS FEITAS.') --7

DECLARE @STRING1 VARCHAR(200);
DECLARE @QNT INT;
DECLARE @POSICAO INT;
DECLARE @X INT
DECLARE @PALAVRA VARCHAR(100)
DECLARE @TEXTO_COMPLETO VARCHAR(255)

DECLARE CURSOR1	CURSOR
FOR SELECT COMENTARIO FROM @TB_COMENTARIO_CLIENTES

OPEN CURSOR1

FETCH NEXT FROM CURSOR1
INTO @TEXTO_COMPLETO

WHILE  @@FETCH_STATUS = 0
BEGIN
		SET @STRING1 = @TEXTO_COMPLETO;
		SET @STRING1 = REPLACE(@STRING1,' ','|')
		SET @QNT = (LEN(@STRING1) -LEN(REPLACE(@STRING1,'|','')))
		SET @X = -1

		WHILE @X < @QNT
			BEGIN
			SET @POSICAO = CHARINDEX('|',@STRING1,0)
				IF @POSICAO = 0
					BEGIN
					SET @PALAVRA = @STRING1
					END
				ELSE
					BEGIN
					SET @PALAVRA = (SUBSTRING(@STRING1, 0, @POSICAO))
					SET @STRING1 = RIGHT(@STRING1, LEN(@STRING1)-@POSICAO)
				END

			INSERT INTO @TABELA_TAG_CLOUD
			SELECT @PALAVRA

			SET @X += 1

		END

	FETCH NEXT FROM CURSOR1
	INTO @TEXTO_COMPLETO
END

CLOSE CURSOR1
DEALLOCATE CURSOR1


SELECT PALAVRA FROM @TABELA_TAG_CLOUD